* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --grey-200: #ecf2f8;
    --grey-400: #9daec2;
    --grey-500: #6e8098;
    --grey-900: #48556a;
    --white: #fff;

    --ff-family: 'Manrope', sans-serif;
    --fs-1: 2rem;
    --fs-2: 1.3rem;
    --fw-bold: 700;
    --fw-medium: 500;
    --lh-tight: 1.3;
    --lh-loose: 1.4;
    --ls-ex-tight: 0.12%;
    --ls-tight: 0.25px;
    --ls-loose: 25%;

    --spacing-2000: 16rem;
    --spacing-1300: 10.4rem;
    --spacing-800: 6.4rem;
    --spacing-700: 5.6rem;
    --spacing-600: 4.8rem;
    --spacing-500: 4rem;
    --spacing-400: 3.2rem;
    --spacing-300: 2.4rem;
    --spacing-200: 1.6rem;
    --spacing-0: 0rem;
}

html {
    font-size: calc(100% * 0.625);
}

body {
    font-family: var(--ff-family);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-preset-1 {
    font-size: var(--fs-1);
    font-weight: var(--fw-bold);
    line-height: var(--lh-tight);
    letter-spacing: var(--ls-tight);
}
.text-preset-2 {
    font-size: var(--fs-2);
    font-weight: var(--fw-medium);
    line-height: var(--lh-loose);
    letter-spacing: var(--ls-ex-tight);
}
.text-preset-3 {
    font-size: var(--fs-2);
    font-weight: var(--fw-bold);
    line-height: var(--lh-loose);
    list-style: var(--ls-ex-tight);
}
.text-preset-4 {
    font-size: var(--fs-2);
    line-height: var(--lh-loose);
    letter-spacing: var(--ls-loose);
}