main {
    margin-inline: var(--spacing-300);
    margin-block: var(--spacing-800);
    background-color: var(--white);
    border-radius: 1rem;
}

.card__image {
    display: block;
    width: 100%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    margin-block-end: var(--spacing-400);
}

.card__title {
    margin-block-end: var(--spacing-300);
}

.card__body {
    margin-block-end: var(--spacing-600);
}

.card__content {
    padding-inline: var(--spacing-300);
    padding-block-end: var(--spacing-200);
}

.profile {
    display: flex;
    gap: var(--spacing-200);
    align-items: center;
    height: 4rem;
}

.profile__image {
    height: 100%;
    width: 4rem;
    border-radius: 50%;
}

.icon-container {
    margin-inline-start: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.2rem;
    height: 3.2rem;
    background-color: var(--grey-200);
    border-radius: 50%;
    cursor: pointer;
}

.date {
    color: var(--grey-400)
}

.share-button {
    width: 50%;
}

.toast {
    
}