main {
    margin-inline: var(--spacing-300);
    margin-block-start: var(--spacing-2000);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    border-radius: 1rem 1rem 0 0;
}

.card {
    width: 100%;
}

.card__image {
    width: 100%;
    display: block;
    border-radius: 1rem 1rem 0 0;
}

.card__content {
    padding-block-start: var(--spacing-400);
    padding-inline: var(--spacing-300);
    padding-block-end: var(--spacing-600);
}

.card__title {
    margin-block-end: var(--spacing-300);
}

.card__footer {
    padding-inline: var(--spacing-300);
    position: relative;
}

.profile, .toast {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    gap: var(--spacing-200);
    background-color: var(--white);
    padding-block: var(--spacing-300);
    padding-inline: var(--spacing-400);
    padding-block-end: var(--spacing-200);
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

.profile__image {
    width: 3.2rem;
    border-radius: 50%;
}

.icon-container {
    margin-inline-start: auto;
    cursor: pointer;
    background-color: var(--grey-200);
    border-radius: 50%;
    padding: 1rem;
}

.profile, .toast {
    position: absolute;
    inset-inline: 0;
}

.toast {
    background-color: var(--grey-900);
}

.social-container {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-200);
    align-items: center;
}

.social-icons {
    width: 3.4rem;
    margin-inline-end: var(--spacing-50);
}

.toast__title {
    text-transform: uppercase;
    color: var(--grey-400);
}

.hidden {
    display: none;
}

.icon-dark-bg {
    background-color: var(--grey-400);
}