main {
    margin-inline: var(--spacing-300);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
}

.card {
    width: 100%;
}

.card__image {
    width: 100%;
    display: block;
}

.card__content {
    padding-block-start: var(--spacing-400);
    padding-inline: var(--spacing-300);
    padding-block-end: var(--spacing-600);
}

.card__title {
    margin-block-end: var(--spacing-300);
}

.card__footer {
    padding-inline: var(--spacing-300);
    position: relative;
}

.profile {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    gap: var(--spacing-200);
    background-color: var(--white);
    padding-block-end: var(--spacing-200);
}

.profile__image {
    width: 3.2rem;
    border-radius: 50%;
}

.icon-container {
    margin-inline-start: auto;
    cursor: pointer;
}

.profile, .toast {
    position: absolute;
    inset-inline: 0;
    padding-inline: var(--spacing-300);
}

.toast {
    justify-content: space-between;
    align-items: center;
    gap: var(--spacing-200);
    background-color: var(--grey-900);
    padding-block: var(--spacing-300);
    padding-inline: var(--spacing-400);
}

.hidden {
    display: none;
}