main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 100%;
    margin-block-start: var(--spacing-2000);
    margin-inline: var(--spacing-300);
    background-color: var(--white);
    border-radius: 1rem;
}

.card__image {
    margin-block-end: var(--spacing-300);
}

.card__image img{
    width: 100%;
    display: block;
    border-radius: 1rem 1rem 0 0;
}

.card__title {
    margin-block-end: var(--spacing-300);
    padding-inline: var(--spacing-300);
}

.card__body {
    margin-block-end: var(--spacing-600);
    padding-inline: var(--spacing-300);
}

/* footer {
    margin-block-end: var(--spacing-200);
} */

.card__author {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: var(--spacing-200);
}

.card__author img {
    width: 3.2rem;
    border-radius: 50%;
    object-fit: contain;
}

.share-button {
    margin-inline-start: auto;
    width: 3.2rem;
    height: 3.2rem;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline-end: var(--spacing-300);
}

.share-button img {
    width: 50%;
    object-fit: contain;
}

.card__share span {
    text-transform: uppercase;
    color: var(--grey-400);
}

footer {
    margin-block-end: 0;
    padding-block-start: var(--spacing-200);
    padding-block-end: var(--spacing-200);
    border-radius: 0 0 1rem 1rem;
}

.profile-card {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-200);
    padding-inline: var(--spacing-300);
}

.share__styles {
    background: var(--grey-900);
    padding-inline-start: var(--spacing-300);
}

.share__styles {
    margin-block-end: 0;
    padding-block-start: var(--spacing-200);
    padding-block-end: var(--spacing-200);
    border-radius: 0 0 1rem 1rem;
}

.card__share {
    display: flex;
    align-items: center;
    gap: var(--spacing-300);
}

.hidden {
    display: none;
}

@media (min-width: 712px) {
    .card {
        display: grid;
        max-width: 73rem;
        grid-template-columns: 40% 60%;
        margin-inline: var(--spacing-800);
        gap: var(--spacing-400);
    }

    .card__content {
        margin-block: var(--spacing-400);
        margin-inline-end: var(--spacing-400);
    }

    .card__image {
        margin-block-end: 0;
    }

    .card__image img {
        height: 100%;
        object-fit: cover;
        border-radius: 1rem 0 0 1rem;
    }

    .card__share {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        position: absolute;
        width: 25rem;
        background: var(--grey-900);
        padding: 1rem;
        border-radius: 1rem;
        box-shadow: 10px 10px 15px rgba(0,0,0,0.5);
        opacity: 0;
        pointer-events: none;
        transform: translateY(10px);
        transition: all 0.2s ease;
    }

    .card__share::after {
        content: "";
        position: absolute;
        width: 16px;
        height: 16px;
        background: var(--grey-900);
        bottom: -8px;
        left: 50%;
        transform: rotate(45deg);
    }

    .card__share.active {
        opacity: 1;
        pointer-events: auto;
        transform: translateY(0);
    }
}